{
    // "presets": ["@babel/preset-react"],
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "jsx"
                ],
                "plugins": ["line-numbers"],
                "theme": "okaidia",
                "css": true
            }
        ]
    ]
}